.blog_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
  
.blog_card{
  width: 30%;
}

.blog_title {
  color: #EEEDED;
}
  
.blog_content {
  color: #DDE6ED;
  font-size: 20px;
}
  